*.lock

# IDE
.idea/
.nova/
.vs/
.vscode/
*.code-workspace
*.iml

# OS Specific
.DS_Store

# Don't commit LevelDB files for now for v10 back-compat
# It is better to not put binary levelDB files.
# Need to use foundryvtt/foundryvtt-cli approach instead
packs/**/*.log
packs/**/*.old
packs/**/*.ldb
packs/**/LOCK
packs/**/MANIFEST
packs/**/CURRENT
packs/**/LOG
packs/**/MANIFEST-*
