<div class="flex-wrap">
    <div class="spell-section column-50">
        {{> "systems/witcher/templates/partials/actor/magic/actor-magic-novice.html"}}
        {{> "systems/witcher/templates/partials/actor/magic/actor-magic-journeyman.html"}}
        {{> "systems/witcher/templates/partials/actor/magic/actor-magic-master.html"}}
    </div>
    <div class="magic-section column-50">
        {{> "systems/witcher/templates/partials/actor/magic/actor-magic-info.html"}}
        {{> "systems/witcher/templates/partials/actor/magic/actor-magic-rituals.html"}}
        {{> "systems/witcher/templates/partials/actor/magic/actor-magic-hexes.html"}}
        {{> "systems/witcher/templates/partials/actor/magic/actor-magic-gift.html"}}
    </div>
</div>
