<div class="wrapper">
    <div class="weight-value">
        <span>{{totalWeight}}/{{system.coreStats.enc.current}} </span>
    </div>
    {{#if (gte totalWeight system.coreStats.enc.current)}}
        <div class="weightbar-overweight"></div>
    {{else}}
        <progress class="weightbar" value="{{totalWeight}}" max="{{system.coreStats.enc.current}}"></progress>
    {{/if}}
</div>
{{>"systems/witcher/templates/partials/actor/inventory/currency-section.html"}}
<div class="flex-wrap">
    <div class="column-50">
        {{>"systems/witcher/templates/partials/actor/inventory/weapon-section.html"}}
        {{>"systems/witcher/templates/partials/actor/inventory/valuable-section.html"}}
        {{>"systems/witcher/templates/partials/actor/inventory/crafting-section.html"}}
    </div>
    <div class="column-50">
        {{>"systems/witcher/templates/partials/actor/inventory/armor-section.html"}}
        {{>"systems/witcher/templates/partials/actor/inventory/substances-section.html"}}
        {{>"systems/witcher/templates/partials/actor/inventory/alchemy-section.html"}}
        {{>"systems/witcher/templates/partials/actor/inventory/runes-section.html"}}
    </div>
</div>
