<div class="tab body background">
    {{>"systems/witcher/templates/partials/actor/background/background-info.html"}}

    <div class="flex">
        <div class="crit-wounds">
            <h2>{{localize "WITCHER.CritWound.Header"}}<a class="add-crit"><i class="fas fa-plus"></i></a></h2>
            {{> "systems/witcher/templates/partials/actor/background/crit-wounds-table.html"}}
        </div>
    </div>
    <div class="crit-wounds">
        <h2>{{localize "WITCHER.background.activeEffect"}}<a class="add-active-effect"><i class="fas fa-plus"></i></a>
        </h2>
        {{> "systems/witcher/templates/partials/actor/background/active-effects-table.html"}}
    </div>
    <div class="flexcol background">
        {{> "systems/witcher/templates/partials/actor/background/life-events.html"}}
    </div>

    <div>
        <h2>{{localize "WITCHER.Notes"}} <a class="add-item" data-item-type="note"><i class="fas fa-plus"></i></a></h2>

        {{#each notes as |note id|}}
            <div class="item bg-note" data-item-id="{{note._id}}">
                <div class="flex">
                    <input class="inline-edit" data-field="name" type="text" value="{{note.name}}" placeholder="name"/>
                    <a class="delete-item"><i class="fas fa-trash-alt"></i></a>
                </div>
                <textarea class="inline-edit" rows="5" data-field="system.description">{{system.description}}</textarea>
            </div>
        {{/each}}
    </div>
</div>
