<div class="monster-header-center">
    <label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    </label>

    <div class="monster-center-top">
        <div class="monster-type">
            <label>{{localize "WITCHER.Monster.Type.Lable"}}</label>
            <select name="system.category">
                {{#select system.category}}
                    {{#each config.MonsterTypes as | name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="monster-difficulty">
            <label>{{localize "WITCHER.Monster.Difficulty"}}</label>
            <select name="system.threat">
                {{#select system.threat}}
                    <option value="easy">{{localize "WITCHER.Monster.Easy"}}</option>
                    <option value="medium">{{localize "WITCHER.Monster.Normal"}}</option>
                    <option value="hard">{{localize "WITCHER.Monster.Hard"}}</option>
                    <option value="exceptional">{{localize "WITCHER.Monster.Exeptional"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="monster-complexity">
            <label>{{localize "WITCHER.Monster.Complexity"}}</label>
            <select name="system.difficulty">
                {{#select system.difficulty}}
                    <option value="simple">{{localize "WITCHER.Monster.Simple"}}</option>
                    <option value="complex">{{localize "WITCHER.Monster.Complex"}}</option>
                    <option value="difficult">{{localize "WITCHER.Monster.Difficult"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="monster-bounty">
            <label>{{localize "WITCHER.Monster.Bounty"}}</label>
            <input name="system.bounty" type="text" value="{{system.bounty}}"/>
        </div>
    </div>

    <div class="img-view">
        {{#if (eq system.category "Humanoid")}}
            <img src="systems/witcher/assets/images/Monsters/Humanoids.png" class="cat-img"/>
        {{else if (eq system.category "Necrophage")}}
            <img src="systems/witcher/assets/images/Monsters/Necrophages.png" class="cat-img"/>
        {{else if (eq system.category "Specter")}}
            <img src="systems/witcher/assets/images/Monsters/Specters.png" class="cat-img"/>
        {{else if (eq system.category "Beast")}}
            <img src="systems/witcher/assets/images/Monsters/Beasts.png" class="cat-img"/>
        {{else if (eq system.category "CursedOne")}}
            <img src="systems/witcher/assets/images/Monsters/CursedOnes.png" class="cat-img"/>
        {{else if (eq system.category "Hybrid")}}
            <img src="systems/witcher/assets/images/Monsters/Hybrids.png" class="cat-img"/>
        {{else if (eq system.category "Insectoid")}}
            <img src="systems/witcher/assets/images/Monsters/Insectoids.png" class="cat-img"/>
        {{else if (eq system.category "Elementa")}}
            <img src="systems/witcher/assets/images/Monsters/Elementa.png" class="cat-img"/>
        {{else if (eq system.category "Relict")}}
            <img src="systems/witcher/assets/images/Monsters/Relicts.png" class="cat-img"/>
        {{else if (eq system.category "Ogroid")}}
            <img src="systems/witcher/assets/images/Monsters/Ogroids.png" class="cat-img"/>
        {{else if (eq system.category "Draconid")}}
            <img src="systems/witcher/assets/images/Monsters/Draconids.png" class="cat-img"/>
        {{else if (eq system.category "Vampire")}}
            <img src="systems/witcher/assets/images/Monsters/Vampires.png" class="cat-img"/>
        {{/if}}
        <table class="monster-info">
            <tr>
                <td>{{localize "WITCHER.Monster.Height"}}</td>
                <td><input type="text" name="system.height" value="{{system.height}}"/></td>
            </tr>
            <tr>
                <td>{{localize "WITCHER.Monster.Weight"}}</td>
                <td><input type="text" name="system.weight" value="{{system.weight}}"/></td>
            </tr>
            <tr>
                <td>{{localize "WITCHER.Monster.Environment"}} </td>
                <td><input type="text" name="system.environment" value="{{system.environment}}"/></td>
            </tr>
            <tr>
                <td>{{localize "WITCHER.Monster.Intelligence"}}</td>
                <td><input type="text" name="system.intelligence" value="{{system.intelligence}}"/></td>
            </tr>
            <tr>
                <td>{{localize "WITCHER.Monster.Organization"}} </td>
                <td><input type="text" name="system.organization" value="{{system.organization}}"/></td>
            </tr>
        </table>
        <img class="monster-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>
</div>
