<header class="item-header">
    {{#if (and
                  (includes (getSetting "clickableImageItemTypes") item.type)
                  (or
                          (window "game" "user" "isGM")
                          (eq (getSetting "clickableImageCheckboxForGMOnly") false))
          )}}
        <div class="item-header-wrapper">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="{{item.name}}"/>
            <div>
                <input type="checkbox" id="clickable-image-{{item._id}}" name="system.clickableImage" {{checked
                        item.system.clickableImage}}>
                <label for="clickable-image-{{item._id}}">{{localize "WITCHER.Item.ClickableImage"}}</label>
            </div>
        </div>
    {{else}}
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="{{item.name}}"/>
    {{/if}}
    <div class="item-header-first-collum">
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <div class="item-flex-container">
            {{#unless (eq item.type "spell")}}
                {{>"systems/witcher/templates/partials/item/non-spell-header.html"}}
            {{/unless}}
            {{#if (eq item.type "spell")}}
                {{>"systems/witcher/templates/partials/item/spell-header.html"}}
            {{/if}}
        </div>
    </div>
</header>
