<div class="flex currency-section">
    <div class="currency">
        <label>{{localize "WITCHER.Currency.bizant"}}</label>
        <input class="small-medium"
               name="system.currency.bizant"
               type="number"
               value="{{currency.bizant}}"
               placeholder="0"
               data-dtype="Number"/>
    </div>
    <div class="currency">
        <label>{{localize "WITCHER.Currency.ducat"}}</label>
        <input class="small-medium"
               name="system.currency.ducat"
               type="number"
               value="{{currency.ducat}}"
               placeholder="0"
               data-dtype="Number"/></div>
    <div class="currency">
        <label>{{localize "WITCHER.Currency.lintar"}}</label>
        <input class="small-medium"
               name="system.currency.lintar"
               type="number"
               value="{{currency.lintar}}"
               placeholder="0"
               data-dtype="Number"/>
    </div>
    <div class="currency">
        <label>{{localize "WITCHER.Currency.floren"}}</label>
        <input class="small-medium"
               name="system.currency.floren"
               type="number"
               value="{{currency.floren}}"
               placeholder="0"
               data-dtype="Number"/>
    </div>
    <div class="currency">
        <label>{{localize "WITCHER.Currency.crown"}}</label>
        <input class="small-medium"
               name="system.currency.crown"
               type="number"
               value="{{currency.crown}}"
               placeholder="0"
               data-dtype="Number"/></div>
    <div class="currency">
        <label>{{localize "WITCHER.Currency.oren"}}</label>
        <input class="small-medium"
               name="system.currency.oren"
               type="number"
               value="{{currency.oren}}"
               placeholder="0"
               data-dtype="Number"/></div>
    <div class="currency">
        <label>{{localize "WITCHER.Currency.falsecoin"}}</label>
        <input class="small-medium"
               name="system.currency.falsecoin"
               type="number"
               value="{{currency.falsecoin}}"
               placeholder="0"
               data-dtype="Number"/>
    </div>
</div>
