<div class="item" data-item-id="{{race._id}}">
    <h1 class="flex flex-header">
        <label>{{localize "WITCHER.Actor.Race"}}:</label>
        <input class="inline-edit" data-field="name" type="text" value="{{race.name}}"/>
        <a class="edit-item"><i class="fas fa-edit"></i></a>
        <a class="delete-item"><i class="fas fa-trash-alt"></i></a>
    </h1>
    <h2>{{localize "WITCHER.Actor.Perks"}}</h2>
    <div class="flexrow">
        <div class="perk">
            <h3><input class="inline-edit" data-field="system.perk1.name" type="text"
                       value="{{race.system.perk1.name}}"/></h3>
            {{editor race.system.perk1.description target="race.system.perk1.description" button=true
                     editable=editable}}
        </div>
        <div class="perk">
            <h3><input class="inline-edit" data-field="system.perk2.name" type="text"
                       value="{{race.system.perk2.name}}"/></h3>
            {{editor race.system.perk2.description target="race.system.perk2.description" button=true
                     editable=editable}}
        </div>
    </div>
    <div class="flexrow">
        <div class="perk">
            <h3><input class="inline-edit" data-field="system.perk3.name" type="text"
                       value="{{race.system.perk3.name}}"/></h3>
            {{editor race.system.perk3.description target="race.system.perk3.description" button=true
                     editable=editable}}
        </div>
        <div class="perk">
            <h3><input class="inline-edit" data-field="system.perk4.name" type="text"
                       value="{{race.system.perk4.name}}"/></h3>
            {{editor race.system.perk4.description target="race.system.perk4.description" button=true
                     editable=editable}}
        </div>
    </div>
    <div class="flexrow">
        <table>
            <tr>
                <th>{{localize "WITCHER.socialStanding.north"}}</th>
                <th>{{localize "WITCHER.socialStanding.nilfgaard"}}</th>
                <th>{{localize "WITCHER.socialStanding.skellige"}}</th>
                <th>{{localize "WITCHER.socialStanding.dolBlathanna"}}</th>
                <th>{{localize "WITCHER.socialStanding.mahakam"}}</th>
            </tr>
            <tr>
                <td>
                    <select class="inline-edit" data-field="system.socialStanding.north"
                            id="socialStandingNorth-select">
                        {{#select race.system.socialStanding.north}}
                            <option value="equal">{{localize "WITCHER.socialStanding.equal"}}</option>
                            <option value="tolerated">{{localize "WITCHER.socialStanding.tolerated"}}</option>
                            <option value="hated">{{localize "WITCHER.socialStanding.hated"}}</option>
                            <option value="feared">{{localize "WITCHER.socialStanding.feared"}}</option>
                            <option value="toleratedFeared">{{localize
                                    "WITCHER.socialStanding.toleratedFeared"}}</option>
                            <option value="hatedFeared">{{localize "WITCHER.socialStanding.hatedFeared"}}</option>
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select class="inline-edit" data-field="system.socialStanding.nilfgaard"
                            id="socialStandingNilfgaard-select">
                        {{#select race.system.socialStanding.nilfgaard}}
                            <option value="equal">{{localize "WITCHER.socialStanding.equal"}}</option>
                            <option value="tolerated">{{localize "WITCHER.socialStanding.tolerated"}}</option>
                            <option value="hated">{{localize "WITCHER.socialStanding.hated"}}</option>
                            <option value="feared">{{localize "WITCHER.socialStanding.feared"}}</option>
                            <option value="toleratedFeared">{{localize
                                    "WITCHER.socialStanding.toleratedFeared"}}</option>
                            <option value="hatedFeared">{{localize "WITCHER.socialStanding.hatedFeared"}}</option>
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select class="inline-edit" data-field="system.socialStanding.skellige"
                            id="socialStandingSkellige-select">
                        {{#select race.system.socialStanding.skellige}}
                            <option value="equal">{{localize "WITCHER.socialStanding.equal"}}</option>
                            <option value="tolerated">{{localize "WITCHER.socialStanding.tolerated"}}</option>
                            <option value="hated">{{localize "WITCHER.socialStanding.hated"}}</option>
                            <option value="feared">{{localize "WITCHER.socialStanding.feared"}}</option>
                            <option value="toleratedFeared">{{localize
                                    "WITCHER.socialStanding.toleratedFeared"}}</option>
                            <option value="hatedFeared">{{localize "WITCHER.socialStanding.hatedFeared"}}</option>
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select class="inline-edit" data-field="system.socialStanding.dolBlathanna"
                            id="socialStandingDolBlathanna-select">
                        {{#select race.system.socialStanding.dolBlathanna}}
                            <option value="equal">{{localize "WITCHER.socialStanding.equal"}}</option>
                            <option value="tolerated">{{localize "WITCHER.socialStanding.tolerated"}}</option>
                            <option value="hated">{{localize "WITCHER.socialStanding.hated"}}</option>
                            <option value="feared">{{localize "WITCHER.socialStanding.feared"}}</option>
                            <option value="toleratedFeared">{{localize
                                    "WITCHER.socialStanding.toleratedFeared"}}</option>
                            <option value="hatedFeared">{{localize "WITCHER.socialStanding.hatedFeared"}}</option>
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select class="inline-edit" data-field="system.socialStanding.mahakam"
                            id="socialStandingMahakam-select">
                        {{#select race.system.socialStanding.mahakam}}
                            <option value="equal">{{localize "WITCHER.socialStanding.equal"}}</option>
                            <option value="tolerated">{{localize "WITCHER.socialStanding.tolerated"}}</option>
                            <option value="hated">{{localize "WITCHER.socialStanding.hated"}}</option>
                            <option value="feared">{{localize "WITCHER.socialStanding.feared"}}</option>
                            <option value="toleratedFeared">{{localize
                                    "WITCHER.socialStanding.toleratedFeared"}}</option>
                            <option value="hatedFeared">{{localize "WITCHER.socialStanding.hatedFeared"}}</option>
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
