<div class="magic-info">
    <div class="stat-display">
        <label>{{localize "WITCHER.StVigor"}}</label>
        <input class="focus-value" name="system.derivedStats.vigor.value" type="number"
               value="{{system.derivedStats.vigor.value}}" placeholder="0" data-dtype="Number"/>
    </div>
    <div class="flex">
        <input class="focus" name="system.focus1.name" type="text" value="{{system.focus1.name}}"
               placeholder="First Focus"/>
        <input class="focus-value" name="system.focus1.value" type="text" value="{{system.focus1.value}}"
               placeholder="0"/>
    </div>
    <div class="flex">
        <input class="focus" name="system.focus2.name" type="text" value="{{system.focus2.name}}"
               placeholder="Second Focus"/>
        <input class="focus-value" name="system.focus2.value" type="text" value="{{system.focus2.value}}"
               placeholder="0"/>
    </div>
    <div class="flex">
        <input class="focus" name="system.focus3.name" type="text" value="{{system.focus3.name}}"
               placeholder="Third Focus"/>
        <input class="focus-value" name="system.focus3.value" type="text" value="{{system.focus3.value}}"
               placeholder="0"/>
    </div>
    <div class="flex">
        <input class="focus" name="system.focus4.name" type="text" value="{{system.focus4.name}}"
               placeholder="Fourth Focus"/>
        <input class="focus-value" name="system.v.value" type="text" value="{{system.focus4.value}}"
               placeholder="0"/>
    </div>
</div>
