<h2>{{localize "WITCHER.Spell.Rituals"}}
    <a class="add-item" data-item-type="spell"
       data-spell-type="rituals">
        <i class="fas fa-plus"></i>
    </a>
</h2>
<table class="hexes-table item-list">
    <tr>
        <td></td>
        <td></td>
        <td><b>{{localize "WITCHER.table.Name"}}</b></td>
        <td><b>{{localize "WITCHER.Spell.StaCost"}}</b></td>
        <td></td>
    </tr>
    {{#each rituals as |ritual id|}}
        <tbody class="item" data-item-id="{{ritual._id}}">
        <tr>
            <td>
                <div class="flex">
                    <a class="display-spell"><i class="fas fa-info"></i></a>
                    <a class="edit-item"><i class="fas fa-edit"></i></a>
                </div>
            </td>
            <td>
                <img src="{{ritual.img}}" class="item-img draggable" draggable="true" data-id="{{ritual._id}}"
                     alt="{{ritual.name}}"/>
            </td>
            <td>
                <a class="spell-roll">{{ritual.name}}</a>
            </td>
            <td>
                <input class="inline-edit spell-sta" data-field="system.stamina" type="text"
                       value="{{ritual.system.stamina}}" placeholder="1" data-dtype="Number"/>
            </td>
            <td>
                <a class="delete-item"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr class="item-info invisible">
            <td colspan="4">
                <div>
                    <div class="flex">
                        <label><b>{{localize "WITCHER.Spell.Effect"}}: </b>
                        </label>{{ritual.system.effect}}
                    </div>
                    <div class="flex">
                        <label>
                            <b>{{localize "WITCHER.Spell.Components"}}: </b>
                        </label>{{ritual.system.components}}
                    </div>
                    <div class="flex justify">
                        <div class="flex1">
                            <label>
                                <b>{{localize "WITCHER.Spell.PrepTime"}}: </b>
                            </label>{{ritual.system.preparationTime}}
                        </div>
                        <div class="flex1">
                            <label>
                                <b>{{localize "WITCHER.DC"}}: </b>
                            </label>{{ritual.system.difficultyCheck}}
                        </div>
                        <div class="flex1">
                            <label>
                                <b>{{localize "WITCHER.Spell.Duration"}}: </b>
                            </label>{{ritual.system.duration}}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    {{/each}}
</table>
